@import './_utils';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 1rem;
  border-radius: 1rem;
  @include shadows;

  .card__title {
    text-align: center;
    color: $secondary;
  }
  .card__image {
    width: 50px;
  }
}