@import './_utils';

html {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

// Font Sizes
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.7rem;
  line-height: 1.5;
}

@media (min-width:568px) {
  h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.7rem;
  line-height: 1.5;
}
}

@media (min-width:768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.25rem;
  }
}
.gradient {
  @include gradient;
}
.text-accent {
  font-family: 'Montserrat', sans-serif;
}
.text-center {
  text-align: center;
}