@import './_utils';

.hero {
  height: 75vh;
  background: {
    size: cover;
    repeat: no-repeat;
    image: url('/src/assets/images/hero.png') ;
    attachment: fixed;
    position: center;
  }

  .hero__fbox {
    background-color: white;
    width: 90%;
    margin: auto;
    transform: translateY(2rem);
    position: relative;
    @include shadows;
    @include rounded;
    
    .hero__name {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }
  .hero__sbox {
    @include gradient;
    @include rounded;
    width: 90%;
    max-width: 500px;
  }
}
@media (min-width:768px) {
  .hero {
    height: 100vh;
  }
}

