@import './_utils';
.nav {
  position: fixed;
  z-index: 1000;
  background-color: white;

  .nav__brand {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav__toogle {
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
