@import './_utils';

.sidemenu {
  background-color: black;
  color: white;
  height: 100vh;
  width: 75%;
  position: fixed;
  z-index: 3000;
  margin: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
}
@media (min-width: 768px) {
  .sidemenu {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .sidemenu {
    width: 25%;
  }
}
.sidemenu-false {
  transform: translateX(-100%);
  animation: sidemenu-close 0.5s ease-out;
}
.sidemenu-true {
  transform: translateX(0);
  animation: sidemenu-open 0.5s ease-out;
}
@keyframes sidemenu-open {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes sidemenu-close {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

.sidemenu__bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2000;
  margin: 0;
  transform: translate(-100%);
}
.sidemenu__bg-true {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(0);
  animation: sidemenu__bg-open 0.5s;
}
.sidemenu__bg-false {
  background-color: rgba(0,0,0,0);
  transform: translate(-100%);
  animation: sidemenu__bg-close 0.5s;
}
@keyframes sidemenu__bg-open {
  0% {
    background-color: rgba(0,0,0,0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes sidemenu__bg-close {
  0% {
    transform: translate(0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translate(0);
    background-color: rgba(0,0,0,0);
  }
}

.sidemenu__menu {
  list-style: none;
  font-size: 2rem;

  li {
    padding: 1rem;

    a {
      color: white;
    }
    a:hover {
      color: $primary;
      cursor: pointer;
    }
  }
}
.sidemenu__close {
  font-size: 2rem;
  background: none;
  color: white;
  border: none;
  margin-right: 2rem;
  margin-top: 1rem;
  align-self: flex-end;
}
.sidemenu__button {
  color: white;
  background: none;
  border: none;
}
.sidemenu__close:hover, .sidemenu__button:hover {
  color: $primary;
  cursor: pointer;
}


