html {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.45rem;
}

h2 {
  font-size: 1.30rem;
}

h3 {
  font-size: 1.15rem;
}

p {
  font-size: 1rem;
}

@media (min-width: 350px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3.1rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#c2f8ff), to(#ffc2ff));
  background: linear-gradient(0deg, #c2f8ff 0%, #ffc2ff 100%);
}

.text-accent {
  font-family: 'Montserrat', sans-serif;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.fw-light {
  font-weight: lighter;
}

.fw-bold {
  font-weight: bold;
}

.color-primary {
  color: #ff0037;
}

.color-secondary {
  color: #0077d8;
}

.bg-primary {
  background-color: #ff0037;
}

.bg-secondary {
  background-color: #0077d8;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-top: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.25);
}

.card .card__title {
  text-align: center;
  color: #0077d8;
}

.card .card__image {
  width: 70px;
}

.hero {
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/src/assets/images/hero.png");
  background-attachment: fixed;
  background-position: center;
}

.hero .hero__fbox {
  background-color: white;
  width: 90%;
  margin: auto;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  position: relative;
  box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.hero .hero__fbox .hero__name {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.hero .hero__sbox {
  background: -webkit-gradient(linear, left bottom, left top, from(#c2f8ff), to(#ffc2ff));
  background: linear-gradient(0deg, #c2f8ff 0%, #ffc2ff 100%);
  border-radius: 1rem;
  width: 90%;
  max-width: 500px;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
}

.nav {
  position: fixed;
  background-color: white;
  z-index: 1000;
}

.nav .nav__brand {
  font-size: 1.5rem;
}

.nav .nav__toogle {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.aboutme__button {
  text-transform: uppercase;
  background-color: #0077d8;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.aboutme__button:hover {
  background-color: black;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */